.DS_Store
*.pyc
*$py.class
*~
*.sqlite
*.sqlite-journal
settings_local.py
build/
.build/
_build/
.*.sw*
dist/
*.egg-info
pip-log.txt
devdatabase.db
^parts
^eggs
^bin
developer-eggs
downloads
Documentation/*
.tox/
nosetests.xml
kombu/tests/cover
kombu/tests/coverage.xml
.coverage
dump.rdb
.idea/
.cache/
.pytest_cache/
htmlcov/
test.db
coverage.xml
venv/
env
.eggs
