.DS_Store
*.pyc
*$py.class
*~
*.sqlite
*.sqlite-journal
settings_local.py
.build
build
.*.sw[po]
dist/
*.egg-info
doc/__build/*
pip-log.txt
devdatabase.db
parts
eggs
bin
developer-eggs
downloads
Documentation/*
.tox/
nosetests.xml
kombu/tests/cover
kombu/tests/coverage.xml
