include AUTHORS
include Changelog
include FAQ
include INSTALL
include LICENSE
include MANIFEST.in
include README.rst
include README
include THANKS
include TODO
include setup.cfg
recursive-include contrib *
recursive-include docs *
recursive-include kombu *.py
recursive-include requirements *.txt
recursive-include funtests *.py setup.cfg
recursive-include examples *.py
