include AUTHORS
include Changelog
include FAQ
include INSTALL
include LICENSE
include THANKS
include TODO
recursive-include extra *
recursive-include docs *
recursive-include t *.py
recursive-include requirements *.txt
recursive-include funtests *.py setup.cfg
recursive-include examples *.py
